body {
    background: rgb(42, 38, 42);
}

div#main {
    font: normal 26pt Ubuntu;
    color: white;
    text-align: center;
    padding: 150px;
}

div#saida {
    font: normal 20pt Ubuntu;
    color: white;
    text-align: center;
    padding: 100px;
}