body {
    background: rgb(90, 58, 90);
}

header {
    font: normal 20pt Arial;
    color: white;
    text-align: center;
}

section {
    background: white;
    width: 650px;
    margin: auto;
    text-align: center;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
}

div#entrada {
    font: normal 16pt Arial;
    color: black;
}

input#num {
    font: normal 14pt Arial;
    color: black;
    border-radius: 12px;
}

input#botaonum {
    background: white;
    font: normal 14pt Arial;
    color: black;
    border-radius: 12px;
}

select {
    width: 500px;
    background: white;
    border-width: 3px;
    border-color: black;
    padding: 5px;
    font: normal 14pt Arial;
}

div#saida {
    font: normal 16pt Arial;
    color: black;
    text-align: auto;
}

footer {
    font: italic 14pt Arial;
    color: white;
    text-align: center;
}