* {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.colors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: 20%;
}

.btn {
    position: fixed;
    top: 90%;
    left: 46%;
    cursor: pointer;
}