@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    background-color: black;
    background-attachment: fixed;
    margin-top: 140px;
    margin-bottom: 140px;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    width: 600px;
    height: 100%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Open Sans';
    text-align: center;
}

.txt {
    background-color: rgb(50, 50, 50);
    border: none;
    border-radius: 12px;
    padding: 10px;
    outline: 0;
    font-family: 'Open Sans';
    font-size: 18pt;
    color: rgb(150, 150, 150);
}

.btn {
    background: none;
    border: none;
    border-radius: 12px;
    font-size: 26pt;
    color: rgb(150, 150, 150);
}

.btn:hover {
    color: rgb(180, 180, 180);
    cursor: pointer;
}

.delete {
    background: none;
    border: none;
    font-size: 14pt;
}

.delete:hover {
    color: rgb(100, 0, 0);
    cursor: pointer;
}

.new-task {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 12px;
    width: 400px;
    margin: auto;
    margin-top: 36px;
    padding: 10px;
    text-align: center;
    font-size: 18pt;
    color: rgb(150, 150, 150);
}