body {
    background-color: black;
    margin-top: 140px;
    margin-bottom: 140px;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    width: 600px;
    height: 100%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.txt {
    background-color: rgb(50, 50, 50);
    border: none;
    border-radius: 12px;
    padding: 10px;
    outline: 0;
    font-family: Segoe UI;
    font-size: 18pt;
    color: rgb(150, 150, 150);
}

.btn {
    background: none;
    border: none;
    border-radius: 12px;
    font-size: 26pt;
    color: rgb(150, 150, 150);
}

.btn:hover {
    color: rgb(180, 180, 180);
    cursor: pointer;
}

p {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 12px;
    width: 400px;
    margin: auto;
    margin-top: 36px;
    padding: 10px;
    text-align: center;
    font-family: Segoe UI;
    font-size: 18pt;
    color: rgb(150, 150, 150);
}